.aa (@index) {
  margin: @index auto;
}
.left-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}
.fadein {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
  div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    img {
      border-radius: 15px;
      width: 120px;
      height: 120px;
    }
    p {
      background: black;
      color: white;
      margin: 20px auto;
      width: 120px;
      line-height: 0.24rem;
    }
  }
}
.list {
  margin: 0 auto;
  max-width: 140px;
  min-width: 140px;
  ul {
    display: flex;
    li {
      flex: 1;
      color: #948c76;
      text-align: center;
      a {
        &:hover {
          color: blue;
        }
      }
    }
    .active {
      text-decoration: underline;
      a {
        &:hover {
          color: #666;
        }
      }
    }
  }
}
.body-list {
  max-width: 800px;
  width: 70%;
  padding: 0 20px 20px;
  max-width: 800px;
  .aa(20px);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
  .head-sass {
    padding-top: 20px;
    h1 {
      font-weight: 900;
      font-size: 0.18rem;
    }
  }
  .head-left {
    h1 {
      margin-left: -21px;
      padding-left: 15px;
      border-left: 5px solid black;
      text-align: left;
    }
  }
  .btn {
    margin-bottom: 20px;
  }
  .pa {
    padding: 0px 15px;
  }
  .content {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    .clo-w {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
      & > div {
        padding: 10px 0;
        -webkit-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
      .bg-gray-lightest {
        max-width: 100% !important;
        flex: 0 0 100%;
      }
      .Website {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .margin {
    padding-bottom: 20px;
  }
}
.install {
  position: fixed;
  top: 50%;
  right: 10%;
  height: 20vh;
  width: 40px;
  div {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    left: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    svg {
      .aa(30%);
      display: block;
    }
    &:first-child {
      top: 0;
    }
    &:last-child {
      bottom: 0;
      svg {
        width: 100%;
        margin-top: 25%;
        height: 50%;
      }
    }
  }
}
.bodyList {
  padding-left: 15%;
  margin-top: 3em;
  .artical {
    width: 100%;
    position: relative;
    min-height: 0.3rem;
    .dotts {
      left: 1.2%;
      width: 1.2em;
      height: 1.2em;
      border: 0.143em solid #e2e0dc;
      position: absolute;
      top: 0;
      line-height: 0;
      border-radius: 50%;
      background: #fff;
      margin-left: -0.6em;
      z-index: 10;
    }
    .date {
      display: block;
      position: absolute;
      top: -0.5em;
      margin-left: 3.5em;
      height: 2.14em;
      color: #948c76;
      z-index: 10;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      .trig {
        position: absolute;
        left: -1.14em;
        top: 0;
        border-right: 16px solid #f7f3ee;
        border-top: 15px dashed transparent;
        border-bottom: 15px dashed transparent;
        width: 0;
        height: 0;
        line-height: 0;
      }
      .dates {
        display: inline-block;
        padding: 0 1em;
        height: 30px;
        background: #f7f3ee;
        font-size: 0.8em;
        vertical-align: top;
        line-height: 2.5em;
      }
    }
    .art-container {
      width: 99%;
      padding: 0 0 0 1%;
      position: relative;
      .line {
        width: 0.143em;
        height: 100%;
        background: #f7f3ee;
        position: absolute;
        z-index: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }
      .art-content {
        width: 94%;
        padding: 0 0 6% 6%;
        overflow: hidden;
        .art-title {
          margin: 3em 0 2em;
          font-size: 1em;
        }
        .art-img {
          width: 30%;
          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }
        .art-detail {
          width: 85%;
          line-height: 1.5em;
          margin-top: 2em;
          font-size: 0.8em;
        }
      }
      .line {
        width: 0.143em;
        height: 100%;
        background: #f7f3ee;
        position: absolute;
        z-index: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }
    }
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
