.left-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}
.fadein {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}
.fadein div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.fadein div img {
  border-radius: 15px;
  width: 120px;
  height: 120px;
}
.fadein div p {
  background: black;
  color: white;
  margin: 20px auto;
  width: 120px;
  line-height: 0.24rem;
}
.list {
  width: 30%;
  margin: 0 auto;
  min-width: 120px;
}
.list ul {
  display: flex;
}
.list ul li {
  flex: 1;
  color: #948c76;
  text-align: center;
}
.list ul .active {
  text-decoration: underline;
}
.body-list {
  width: 70%;
  padding: 0 20px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.body-list .head-sass {
  padding-top: 20px;
}
.body-list .head-sass h1 {
  font-weight: 900;
  font-size: 0.18rem;
}
.body-list .head-left h1 {
  margin-left: -21px;
  padding-left: 15px;
  border-left: 5px solid black;
  text-align: left;
}
.body-list .btn {
  margin-bottom: 20px;
}
.body-list .pa {
  padding: 0px 15px;
}
.body-list .content {
  background-color: #f5f5f5;
  border-radius: 5px;
}
.body-list .content > div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}
.body-list .content > div div {
  padding: 10px 0;
}
.body-list .content > div div:first-child {
  width: 25%;
}
.body-list .content > div div:nth-child(2) {
  width: 50%;
  text-align: center;
}
.body-list .content > div div:nth-child(3) {
  width: 25%;
}
.body-list .bg-gray-lightest {
  width: 100% !important;
}
.body-list div:last-child {
  padding-bottom: 20px;
}
