* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 12px;
}
body {
  font-size: 1rem;
  font-family: "微软雅黑";
}
body .rotate {
  background-color: red;
  width: 2rem;
  margin: 2rem 0 0 2rem;
  height: 2rem;
  border-radius: 2em 1em 4em / 0.5em 3em;
}
body #borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../../../image/border.png) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../../image/border.png) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../../image/border.png) 30 round;
}
body #borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../../image/border.png) 30 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url(../../image/border.png) 30 stretch;
  /* Opera 11-12.1 */
  border-image: url(../../image/border.png) 30 stretch;
  box-shadow: 2rem 0.1rem 5px #888888;
}
body #example1 {
  background: url("../../image/img_flwr.gif") right bottom no-repeat, url("../../image/paper.gif") left top repeat;
  padding: 15px;
}
body .backgroundSize {
  background: url("../../image/img_flwr.gif");
  background-size: 6.66rem 5rem;
  background-repeat: no-repeat;
  padding-top: 6.66rem;
}
body .origin div {
  border: 10px solid black;
  padding: 35px;
  background-image: url('../../image/smiley.gif');
  background-repeat: no-repeat;
  background-position: left;
}
body .origin .div1 {
  background-origin: border-box;
}
body .origin .div2 {
  background-origin: content-box;
}
body .origin .div3 {
  background-origin: padding-box;
}
body .backgroundClip .example1 {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
}
body .backgroundClip .example2 {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
  background-clip: padding-box;
}
body .backgroundClip .example3 {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
  background-clip: content-box;
}
body .linearGradient {
  display: grid;
  grid: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
  grid-gap: 1rem;
  background-color: #fff;
  padding: 1rem;
}
body .linearGradient .article1 {
  grid-area: header;
}
body .linearGradient .article2 {
  grid-area: menu;
}
body .linearGradient .article3 {
  grid-area: main;
}
body .linearGradient .article4 {
  grid-area: footer;
}
body .linearGradient article {
  height: 10rem;
  grid-row: inherit;
}
body .linearGradient article div {
  height: inherit;
}
body .linearGradient .grad1 {
  background-image: radial-gradient(red, yellow, green);
}
body .linearGradient .grad2 {
  background-color: red;
  /* 浏览器不支持的时候显示 */
  background-image: repeating-linear-gradient(90deg, red, yellow 7%, green 10%);
}
body .linearGradient .grad3 {
  background-color: red;
  /* 浏览器不支持的时候显示 */
  background-image: radial-gradient(red, green, blue);
}
body .linearGradient .grad4 {
  background-color: red;
  /* 浏览器不支持的时候显示 */
  background-image: radial-gradient(red 5%, yellow 15%, green 60%);
}
